body {
    background-color:black;
    font-family: arial;
    color:white;
}
h1{
    color:grey;
    font-family:verdana
}

.maindiv {
    background-color:white;
    color:black;
    width:30em;
    padding:20px;
    margin: auto;
    border-radius: 25px;
}
table {
    align-content: center;
    padding-left: 15%;
}
td {
    padding-bottom: 5px;
}

